
h1{
    font-size: 40px;
    color: black;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
    text-decoration: underline;
}

html{
    background-color: #71eeb8;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    height: 75px;   
}

.flex-container > button {
    background-color: black;
    text-align: center;
    font-size: 40px;
    width:75px;
    height: 75px;
    margin-top: 155px;
    color:#71eeb8;
}

.flex-container > div {
    background-color: black;
    text-align: right;
    height: 75px;
    font-size: 50px;
    padding-right: 5px;
    width: 230px;
    color:#71eeb8;
}
 
button {
    width:75px;
    height:75px;
    transition: width 2s;
    transition: transform 2s;
}

button:hover{
    width: 200px;
    color: white;
    transform: rotate(90deg);
    background-color: blueviolet;
}


